In [1]:
import pandas as pd
glass = pd.read_csv('../Cases/Glass Identification/Glass.csv')
glass.head()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
0,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.0,0.0,building_windows_float_processed
1,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.0,building_windows_float_processed
2,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.0,0.0,building_windows_float_processed
3,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.0,0.0,building_windows_float_processed
4,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.0,0.0,building_windows_float_processed

In [2]:
X, y = glass.drop('Type', axis=1), glass['Type']

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24)

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score, accuracy_score
import numpy as np
max_depths = [2,3,5,None]
min_samples_splits = np.arange(2,100,4) # [2,5,10,100, 1000]
min_samples_leafs = [1,50,100, 200]
scores = []

for i in max_depths:
    for j in min_samples_splits:
        for k in min_samples_leafs:
            dct = DecisionTreeClassifier(random_state=24, max_depth=i, min_samples_split=j, min_samples_leaf=k)
            dct.fit(X_train, y_train)
            y_pred = dct.predict(X_test)
            scores.append([i, j, k, f1_score(y_test, y_pred, pos_label=1, average='weighted')])

df_scores = pd.DataFrame(scores, columns=['Max_Depth', 'Min_Samples_Split', 'Min_Samples_leaf', 'F1_Score'])
df_scores.sort_values('F1_Score', ascending=False).iloc[0]

Max_Depth                 NaN
Min_Samples_Split    6.000000
Min_Samples_leaf     1.000000
F1_Score             0.686172
Name: 304, dtype: float64