In [36]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'x': [0.2,1.2,1,1.4,-1.5, 0.5, -0.5]})
df['y'] = 3* df['x'] + 5
df

     x    y
0  0.2  5.6
1  1.2  8.6
2  1.0  8.0
3  1.4  9.2
4 -1.5  0.5
5  0.5  6.5
6 -0.5  3.5

In [8]:
w, b, eta = 0.3, 0.1, 0.2

In [22]:
df['y_pred'] = w*df['x'] + b

In [23]:
df['error'] = df['y'] - df['y_pred']
df['error^2'] = df['error'] **2

In [24]:
df['error*x'] = df['x'] * df['error']

In [25]:
df

     x    y  y_pred  error  error^2  error*x
0  0.2  5.6    0.16   5.44  29.5936    1.088
1  1.2  8.6    0.46   8.14  66.2596    9.768
2  1.0  8.0    0.40   7.60  57.7600    7.600
3  1.4  9.2    0.52   8.68  75.3424   12.152
4 -1.5  0.5   -0.35   0.85   0.7225   -1.275
5  0.5  6.5    0.25   6.25  39.0625    3.125
6 -0.5  3.5   -0.05   3.55  12.6025   -1.775

In [26]:
loss = np.average(df['error^2'])/2
loss

20.095935714285712

In [27]:
dw = -np.average(df['error*x'])
dw

-4.383285714285714

In [28]:
db = -np.average(df['error'])
db

-5.7871428571428565

In [30]:
new_w = w - eta*dw
new_b = b - eta*db

In [31]:
new_w, new_b

(1.1766571428571428, 1.2574285714285713)

In [64]:
df['y'] = 3* df['x'] + 5
w, b, eta = 0.3, 0.1, 0.2
epoches = 25
for i in range(epoches):
    df['y_pred'] = w*df['x'] + b
    df['error'] = df['y'] - df['y_pred']
    df['error^2'] = df['error'] **2
    df['error*x'] = df['x'] * df['error']
    dw = -np.average(df['error*x'])
    db = -np.average(df['error'])
    loss = np.average(df['error^2'])/2
    new_w = w - eta*dw
    new_b = b - eta*db
    w, b = new_w, new_b
    print('new w : ', new_w)
    print('new b : ', new_b)
    print('loss : ', loss)

new w :  1.1766571428571428
new b :  1.2574285714285713
loss :  20.095935714285712
new w :  1.7971642693877552
new b :  2.1257625306122447
loss :  10.952997757662391
new w :  2.2331395574647233
new b :  2.7796535153586004
loss :  6.009611558539441
new w :  2.536583085936262
new b :  3.274116498510627
loss :  3.32644496238763
new w :  2.745197362094657
new b :  3.649746310304119
loss :  1.862421697322274
new w :  2.8862720607472268
new b :  3.9365412215913604
loss :  1.0579802312749422
new w :  2.97951946284915
new b :  4.156706527566842
loss :  0.6118539055559408
new w :  3.0391431785266034
new b :  4.326711085923386
loss :  0.36146215017489947
new w :  3.0753467513486017
new b :  4.458796602721247
loss :  0.21878647813951807
new w :  3.0954331705355926
new b :  4.562085924231232
loss :  0.13596771317963877
new w :  3.104605681338943
new b :  4.64339741674979
loss :  0.08683021326976892
new w :  3.106550569700328
new b :  4.707843845768987
loss :  0.0569457917433155
new w :  3.103860871374213
new b :  4.759273182034882
loss :  0.038279964967667786
new w :  3.0983440718353323
new b :  4.800593402651885
loss :  0.026299662085132566
new w :  3.091245251761179
new b :  4.834012111686615
loss :  0.018405094819252035
new w :  3.083408645559976
new b :  4.861213572804986
loss :  0.013075415489647428
new w :  3.075394377587756
new b :  4.883489718678619
loss :  0.009400214835485058
new w :  3.067562608221562
new b :  4.901837287272842
loss :  0.006820379388128463
new w :  3.06013401068326
new b :  4.9170300012779995
loss :  0.0049831336138752135
new w :  3.053233080976059
new b :  4.929672337463214
loss :  0.003659787994669
new w :  3.0469190173079657
new b :  4.9402396960778585
loss :  0.0026982367327188055
new w :  3.04120761629587
new b :  4.949108507153477
loss :  0.0019949404206157503
new w :  3.0360866926495755
new b :  4.9565788766519105
loss :  0.0014779982814683344
new w :  3.031526843036723
new b :  4.96289169009027
loss :  0.0010966483562195148
new w :  3.0274888747898183
new b :  4.968241588101232
loss :  0.0008145751612090791

In [65]:
new_w, new_b

(3.0274888747898183, 4.968241588101232)

In [66]:
loss

0.0008145751612090791