## Kyphosis Dataset

In [1]:
import pandas as pd
kyphosis = pd.read_csv('../Cases/Kyphosis/Kyphosis.csv')
kyphosis.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [36]:
X, y = kyphosis.drop('Kyphosis', axis=1), kyphosis['Kyphosis']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24, stratify=y)

### Adaptive Boosting with Logistic Regression as an estimater

In [37]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(penalty='l2')
from sklearn.ensemble import AdaBoostClassifier
ada = AdaBoostClassifier(estimator=lr, n_estimators=20, random_state=24)
ada.fit(X_train, y_train)
y_pred = ada.predict(X_test)
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, pos_label='present')

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\ensemble\_weight_boosting.py:519: FutureWarning: The SAMME.R algorithm (the default) is deprecated and will be removed in 1.6. Use the SAMME algorithm to circumvent this warning.
  warnings.warn(

0.5

## Sonar Dataset

In [40]:
sonar = pd.read_csv('../Cases/Sonar/Sonar.csv')
sonar.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V52,V53,V54,V55,V56,V57,V58,V59,V60,Class
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [41]:
X, y = sonar.drop(columns=['Class']), sonar['Class']

In [42]:
y.value_counts()

Class
M    111
R     97
Name: count, dtype: int64

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24)

### Adaptive Boosting using estimator as Logistic

In [45]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(penalty=None)
from sklearn.ensemble import AdaBoostClassifier
ada = AdaBoostClassifier(estimator=lr, n_estimators=20, random_state=24) # Fixing the random sampling
ada.fit(X_train, y_train)
y_pred = ada.predict(X_test)
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, pos_label='R')

0.7307692307692307

## Concrete Strength

In [1]:
import pandas as pd
concrete = pd.read_csv('../Cases/Concrete Strength/Concrete_Data.csv')
concrete.head()

   Cement  Blast  Fly  Water  Superplasticizer  Coarse   Fine  Age  Strength
0   540.0    0.0  0.0  162.0               2.5  1040.0  676.0   28     79.99
1   540.0    0.0  0.0  162.0               2.5  1055.0  676.0   28     61.89
2   332.5  142.5  0.0  228.0               0.0   932.0  594.0  270     40.27
3   332.5  142.5  0.0  228.0               0.0   932.0  594.0  365     41.05
4   198.6  132.4  0.0  192.0               0.0   978.4  825.5  360     44.30

In [3]:
X, y = concrete.drop(columns=['Strength']), concrete['Strength']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24)

In [13]:
import warnings
warnings.filterwarnings('ignore')

from sklearn.linear_model import LinearRegression, ElasticNet
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import r2_score
from tqdm import tqdm
import numpy as np

lr = LinearRegression()
el = ElasticNet()

models = [None, lr, el]
scores = []
for i in tqdm(range(len(models))):
    ada = AdaBoostRegressor(estimator=models[i], random_state=24) # Fixing the random sampling
    ada.fit(X_train, y_train)
    y_pred = ada.predict(X_test)
    scores.append(r2_score(y_test, y_pred))

print('Best score : ', np.max(scores))
print('Best model : ', models[np.argmax(scores)])

100%|████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 17.87it/s]

Best score :  0.747243739757216
Best model :  None