In [1]:
import pandas as pd
cancer = pd.read_csv('../Cases/Wisconsin/BreastCancer.csv')
cancer.head()

,Code,Clump,UniCell_Size,Uni_CellShape,MargAdh,SEpith,BareN,BChromatin,NoemN,Mitoses,Class
0,61634,5,4,3,1,2,2,2,3,1,Benign
1,63375,9,1,2,6,4,10,7,7,2,Malignant
2,76389,10,4,7,2,2,8,6,1,1,Malignant
3,95719,6,10,10,10,8,10,7,10,7,Malignant
4,128059,1,1,1,1,2,5,5,1,1,Benign

In [4]:
X, y = cancer.drop(['Code', 'Class'], axis=1), cancer['Class']

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24, stratify=y)

In [6]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
svm = SVC(kernel='linear')
svm.fit(X_train, y_train)
y_pred = svm.predict(X_test)
print('accuracy_score : ', accuracy_score(y_test, y_pred))

accuracy_score :  0.9714285714285714

In [7]:
import numpy as np
c_list = np.array([0.001, 0.01, 0.1, 0.5, 1, 3, 5, 10])
scores = []

for c in c_list:
    svm = SVC(kernel='linear', C=c)
    svm.fit(X_train, y_train)
    y_pred = svm.predict(X_test)
    scores.append(accuracy_score(y_test,y_pred))
    
print('good value of C : ', c_list[np.argmax(scores)])
print('good accuracy : ', np.max(scores))

good value of C :  0.01
good accuracy :  0.9714285714285714

### Human Resources

In [6]:
hr = pd.read_csv('../Cases/human-resources-analytics/HR_comma_sep.csv')
hr.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.10,0.77,6,247,4,0,1,0,sales,low
3,0.92,0.85,5,259,5,0,1,0,sales,low
4,0.89,1.00,5,224,5,0,1,0,sales,low

In [7]:
X, y = hr.drop('left', axis=1), hr['left']

In [8]:
X = pd.get_dummies(X, drop_first=1)
y = pd.get_dummies(y, drop_first=1)

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24, stratify=y)

In [10]:
# import numpy as np
# c_list = np.array([0.001, 1, 2])
# scores = []

# for c in c_list:
#     svm = SVC(kernel='linear', C=c)
#     svm.fit(X_train, y_train)
#     y_pred = svm.predict(X_test)
#     scores.append(accuracy_score(y_test,y_pred))
    
# print('good value of C : ', c_list[np.argmax(scores)])
# print('good accuracy : ', np.max(scores))

In [ ]:
from tqdm import tqdm
c_list = np.array([0.001, 1, 2])
scores = []
for i in tqdm(range(len(c_list))):
    svm = SVC(kernel='linear', C=c_list[i])
    svm.fit(X_train, y_train)
    y_pred = svm.predict(X_test)
    scores.append(accuracy_score(y_test,y_pred))

print('good value of C : ', c_list[np.argmax(scores)])
print('good accuracy : ', np.max(scores))

  0%|                                                                                            | 0/3 [00:00<?, ?it/s]C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
 33%|████████████████████████████                                                        | 1/3 [00:08<00:16,  8.16s/it]C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

### Kyphosis

In [8]:
kyphosis = pd.read_csv('../Cases/Kyphosis/Kyphosis.csv')
kyphosis.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [ ]:
X, y = kyphosis.drop('Kyphosis', axis=1), kyphosis['Kyphosis']

In [ ]:
X = pd.get_dummies(X, drop_first=1)
y = pd.get_dummies(y, drop_first=1)

In [ ]:
from tqdm import tqdm
c_list = np.array([0.001, 1, 2])
scores = []
for i in tqdm(range(len(c_list))):
    svm = SVC(kernel='linear', C=c_list[i])
    svm.fit(X_train, y_train)
    y_pred = svm.predict(X_test)
    scores.append(accuracy_score(y_test,y_pred))

print('good value of C : ', c_list[np.argmax(scores)])
print('good accuracy : ', np.max(scores))

### Scaling 
#### Standard

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.pipeline import Pipeline

scaler = StandardScaler()

c_list = np.array([0.001, 0.5, 1, 2, 3])
scores = []
for i in tqdm(range(len(c_list))):
    svm = SVC(kernel='linear', C=c_list[i])
    pipe = Pipeline([('scl', scaler), ('svm', svm)])
    pipe.fit(X_train, y_train)
    y_pred = pipe.predict(X_test)
    scores.append(accuracy_score(y_test,y_pred))

print('good value of C : ', c_list[np.argmax(scores)])
print('good accuracy : ', np.max(scores))

#### MinMax

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.pipeline import Pipeline

scaler = MinMaxScaler()

c_list = np.array([0.001, 0.5, 1, 2, 3])
scores = []
for i in tqdm(range(len(c_list))):
    svm = SVC(kernel='linear', C=c_list[i])
    pipe = Pipeline([('scl', scaler), ('svm', svm)])
    pipe.fit(X_train, y_train)
    y_pred = pipe.predict(X_test)
    scores.append(accuracy_score(y_test,y_pred))

print('good value of C : ', c_list[np.argmax(scores)])
print('good accuracy : ', np.max(scores))

### Radial

### Hyper-Parameter Optimization with `C` and `gamma`

In [52]:
c_list = [0.001, 0.5, 1, 2, 3]
gamma_list = [0.001, 0.5, 1, 2, 3]

scaler = MinMaxScaler()
scores = []
for c in c_list:
    for g in gamma_list:
        svm = SVC(kernel='rbf', C=c, gamma=g)
        pipe = Pipeline([('scl', scaler), ('svm', svm)])
        pipe.fit(X_train, y_train)
        y_pred = pipe.predict(X_test)
        scores.append([c, g, accuracy_score(y_test,y_pred)])

In [53]:
df_scores=pd.DataFrame(scores, columns=['c', 'gamma', 'accuracy_score'])
best_combo = df_scores.sort_values('accuracy_score', ascending=False).iloc[0]

In [54]:
best_c = best_combo[0]
best_gamma = best_combo[1]
best_score = best_combo[2]
print(f'Best c : {best_c}')
print(f'Best gamma : {best_gamma}')
print(f'Best score : {best_score:.4f}')

Best c : 3.0
Best gamma : 0.5
Best score : 0.8889

C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_9664\1580168429.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  best_c = best_combo[0]
C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_9664\1580168429.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  best_gamma = best_combo[1]
C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_9664\1580168429.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  best_score = best_combo[2]

In [ ]:
from sklearn.metrics import f1_score
c_list = np.linspace(0.001, 4, 10)           # [0.001, 0.5, 1, 2, 3]
gamma_list = np.linspace(0.001, 4, 10)        # [0.001, 0.5, 1, 2, 3]

scaler = MinMaxScaler()
f1_scores = []
for c in c_lis):
    for g in gamma_list:
        svm = SVC(kernel='linear', C=c, gamma=g)
        pipe = Pipeline([('scl', scaler), ('svm', svm)])
        pipe.fit(X_train, y_train)
        y_pred = pipe.predict(X_test)
        f1_scores.append([c, g, f1_score(y_test,y_pred,p)])

In [ ]:
df_scores=pd.DataFrame(scores, columns=['c', 'gamma', 'accuracy_score'])
best_combo = df_scores.sort_values('accuracy_score', ascending=False).iloc[0]
best_c = best_combo[0]
best_gamma = best_combo[1]
best_f1_score = best_combo[2]
print(f'Best c : {best_c}')
print(f'Best gamma : {best_gamma}')
print(f'Best f1_score : {best_f1_score:.4f}')

### Sonar

In [40]:
import sklearn
sklearn.__version__

'1.4.2'

In [35]:
import pandas as pd
sonar = pd.read_csv('../Cases/Sonar/Sonar.csv')
sonar.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V52,V53,V54,V55,V56,V57,V58,V59,V60,Class
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [36]:
X, y = sonar.drop('Class', axis=1), sonar['Class']

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24, stratify=y)

In [38]:
import numpy as np
from sklearn.svm import SVC
from sklearn.metrics import f1_score

c_list = np.linspace(0.001, 4, 10)           # [0.001, 0.5, 1, 2, 3]
gamma_list = np.linspace(0.001, 4, 10)        # [0.001, 0.5, 1, 2, 3]
f1_scores = []
for c in c_list:
    for g in gamma_list:
        svm = SVC(kernel='linear', C=c, gamma=g)
        svm.fit(X_train, y_train)
        y_pred = svm.predict(X_test)
        f1_scores.append([c, g, f1_score(y_test,y_pred, pos_label='R')])

In [39]:
df_scores=pd.DataFrame(f1_scores, columns=['c', 'gamma', 'F1'])
best_combo = df_scores.sort_values('F1', ascending=False).iloc[0]
best_c = best_combo[0]
best_gamma = best_combo[1]
best_f1_score = best_combo[2]
print(f'Best c : {best_c}')
print(f'Best gamma : {best_gamma}')
print(f'Best f1_score : {best_f1_score:.4f}')

Best c : 1.334
Best gamma : 4.0
Best f1_score : 0.7812

C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_9664\3946953444.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  best_c = best_combo[0]
C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_9664\3946953444.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  best_gamma = best_combo[1]
C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_9664\3946953444.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  best_f1_score = best_combo[2]

In [47]:
import numpy as np
from sklearn.svm import SVC
from sklearn.metrics import f1_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline

scaler = MinMaxScaler()
c_list = np.linspace(0.001, 4, 10)           # [0.001, 0.5, 1, 2, 3]
degree_list = [2,3,4]        # [0.001, 0.5, 1, 2, 3]
f1_scores = []
for c in c_list:
    for d in degree_list:
        svm = SVC(kernel='poly', C=c, degree=d)
        pipe = Pipeline([('scl', scaler), ('svm', svm)])
        pipe.fit(X_train, y_train)
        y_pred = pipe.predict(X_test)
        f1_scores.append([c, d, f1_score(y_test,y_pred, pos_label='R')])

In [48]:
df_scores=pd.DataFrame(f1_scores, columns=['c', 'gamma', 'F1'])
best_combo = df_scores.sort_values('F1', ascending=False).iloc[0]
best_c = best_combo[0]
best_gamma = best_combo[1]
best_f1_score = best_combo[2]
print(f'Best c : {best_c}')
print(f'Best gamma : {best_gamma}')
print(f'Best f1_score : {best_f1_score:.4f}')

Best c : 3.5556666666666668
Best gamma : 2.0
Best f1_score : 0.8421

C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_9664\3946953444.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  best_c = best_combo[0]
C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_9664\3946953444.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  best_gamma = best_combo[1]
C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_9664\3946953444.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  best_f1_score = best_combo[2]

###