In [14]:
import pandas as pd
file_path = 'insurance.csv'
insurance = pd.read_csv(file_path)
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [15]:
# insurance.isna().sum()

In [16]:
df2 = insurance
categorical_cols = df2.select_dtypes(include=['object']).columns
categorical_cols

Index(['sex', 'smoker', 'region'], dtype='object')

In [17]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in categorical_cols:
    df2[col] = le.fit_transform(df2[col])

In [18]:
X = df2.drop('charges', axis=1)
y = df2['charges']

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24)

In [21]:
### Finding the best combination of alpha and l1_ratio
from sklearn.metrics import r2_score
from sklearn.linear_model import ElasticNet
alpha=[0.01, 0.1, 0.5, 1, 2.5, 3, 5]
ratios=[0.001, 0.3, 0.5, 0.7, 0.9]
scores = []
for i in alpha :
    for j in ratios :
        e1 = ElasticNet(alpha=i, l1_ratio=j)
        e1.fit(X_train, y_train)
        y_pred = e1.predict(X_test)
        scores.append([i, j, r2_score(y_test, y_pred)])

In [22]:
df_scores=pd.DataFrame(scores, columns=['alpha', 'l1_score', 'r2'])
best_combo = df_scores.sort_values('r2', ascending=False).iloc[0]

In [26]:
best_alpha = best_combo[0]
best_l1 = best_combo[1]
best_r2 = best_combo[2]
print(f'Best alpha : {best_alpha}')
print(f'Best l1_ratio : {best_l1}')
print(f'Best r2_score : {best_r2:.4f}')

Best alpha : 0.01
Best l1_ratio : 0.9
Best r2_score : 0.7659

C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_14204\2518710781.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  best_alpha = best_combo[0]
C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_14204\2518710781.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  best_l1 = best_combo[1]
C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_14204\2518710781.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  best_r2 = best_combo[2]