In [11]:
import pandas as pd
file_path = '../Cases/Wisconsin/BreastCancer.csv'
# names = '../Cases/Cancer/breast-cancer.names'
df = pd.read_csv(file_path)
df.head()

,Code,Clump,UniCell_Size,Uni_CellShape,MargAdh,SEpith,BareN,BChromatin,NoemN,Mitoses,Class
0,61634,5,4,3,1,2,2,2,3,1,Benign
1,63375,9,1,2,6,4,10,7,7,2,Malignant
2,76389,10,4,7,2,2,8,6,1,1,Malignant
3,95719,6,10,10,10,8,10,7,10,7,Malignant
4,128059,1,1,1,1,2,5,5,1,1,Benign

In [15]:
df.isna().sum().sum()

0

In [16]:
df2 = df.drop('Code', axis=1)

In [18]:
X = df.drop('Class', axis=1)
y = df['Class']

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24)

In [21]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

In [22]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.638095238095238

In [27]:
# list_of_neighbors = [1,2,3,4,5,6]
list_of_neighbors = np.arange(1,20)
scores=[]
for neighbor in list_of_neighbors:
    knn = KNeighborsClassifier(n_neighbors=neighbor)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    scores.append(accuracy_score(y_test, y_pred))

import numpy as np
best_no_neighbors = list_of_neighbors[np.argmax(scores)]
print(f'No of neighbors with highest accuracy : {best_no_neighbors}')

No of neighbors with highest accuracy : 10